html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  vertical-align: middle;
  color: #595652;
}

h1 {
  font-family: 'Bevan', cursive;
  color: #fff;
  text-align: center;
}

a:hover {
  color: #f33;
}

nav {
  display: inline;
  color: #713837;
  font-family: sans-serif;
  text-align: center;
  list-style-type: none;
}

body {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  padding: .6em .5em .75em;
  margin: .3em;
}
