html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

header {
  background-color: #79756f
  margin: auto;
  padding: inherit;
}

h1 {
  font-family: "Bevan", cursive;
  color: #fff;
  text-align: center;
}

body {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  padding: .6em .5em .75em;
  margin: .3em;
}
